<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registeration Form</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <form action="/output" method="post">
       {% csrf_token %}
        <div class="container">
          <h2 style="text-align:center">User Form</h2>

            <div class="form-group">
              <label for="pwd">Name:</label>
              <input type="text" class="form-control" id="pwd" placeholder="Enter Your Name" name="name">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="comment">Tell us About Yourself:</label>
                <textarea class="form-control" rows="5" id="comment" name="comment" required></textarea>
            </div>
            <div class="form-group">
                <label for="gender">Select Gender:</label>
                <div class="radio">
                    <label><input type="radio" name="optradio" value ="Male" checked>Male</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" value ="Female">Female</label>
                </div>

            </div>
            <div class="form-group">
              <label for="sel1">Qualifications:</label>
              <select class="form-control" id="sel1" name="select">
                <option>B.Tech</option>
                <option>MCA</option>
                <option>BCA</option>
                <option>BSc</option>
              </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </div>

  </form>
</body>
</html>